.fondosVerde {
 background-color: #8C1B85!important;
}
.fondoRosa{
	background-color: 
}

.colorVerde{
color: #84878B;
}
.colorRosa{
color: #84878B;
}

.tama単o{
	width: 100%;
	height: 750px;
}

.tituloPrincipal{
color:#ffffff;
font-size: 25px;
letter-spacing: 2px;
    text-transform: uppercase
}


*{
  font-family: 'Quicksand', sans-serif;

  box-sizing: border-box;

}
body{
  width: 100%;
  margin: 0;
  background: #000;
  background-size: cover;
}
video { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}
div#fashion {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  /*position: fixed;*/
position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  transition: .4s;
}
/*header:hover {
  background: rgba(255,255,255,0.8);
  color: #000;
}*/

nav a {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
 
}
a{
  color: #cb6ce6;
}
.justifyTex{
  text-align: justify;
}

/*__-----------------------*/

/*_______________________________________________________*/

.fondorosa{
  background-image: linear-gradient(to right bottom, 
     rgba(6, 12, 54, 0.8),
     rgba(31, 5, 66, 0.8)), url(https://images.unsplash.com/photo-1498192467103-290f567eb3a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);

  width: 100%;
  height: auto;
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 5%;



}

li{
  text-decoration: none;
  list-style:none;
  color: #FFFFFF;
}
.fondoBlanco{

padding-top: 10%;
padding-bottom: 10%;
color: #FFFFFF;


}




/*______________________________________________________________*/

.script {  
  text-align: center;
  font-size: 25px;
  position: relative;
  margin:0;
  letter-spacing: 2px;
    text-transform: uppercase;
}

.script span {
  background-color: #FFF;
  padding: 0 0.3em;
}
.script:before {
  content:"";
  display: block;
  position: absolute;
  z-index:-1;
  top: 50%;
  width: 100%;
  

}

.lineaRosa:before{
border-bottom: 1px solid #84878B;
}
.lineaVerde:before{
border-bottom: 1px solid #84878B;
}
.plate {
  width:55%;
  margin: 5% auto;
  
}

.sectionTwo{
  color:#84878B;

	width:100%;
	height: auto;
	padding: 5%;

}
/*
_______________________________________*/



figure.snip1477 {

  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  height: 450px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
}
figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.snip1477 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
figure.snip1477 .title {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}
figure.snip1477 .title:before,
figure.snip1477 .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.snip1477 .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.snip1477 .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.snip1477 h2,
figure.snip1477 h4 {
  margin: 0;
  text-transform: uppercase;
}
figure.snip1477 h2 {
  font-weight: 400;
}
figure.snip1477 h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}
figure.snip1477 figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.snip1477 figcaption p {
  margin: 0;
}
figure.snip1477 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1477:hover img,
figure.snip1477.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}



/*__________________________*/

/*.formCem{
  padding: 17% 5% 0% 3%;
}*/

.inlinform{
  margin:15%;
}
.inlinform input{
  display:inline-block;
  border:none;
  outline:none;
  margin:8px 4px;
  font-size:14px;
  max-width:100%;
  padding:12px 20px;
  border-radius:30px;
}


.inline-form{
  margin:5% 0 0% 10%;
 
}
.inline-form input{
  display:inline-block;
  border-color:#f48bcb; 
  outline:none;
  margin:8px 4px;
  font-size:14px;
  max-width:100%;
  padding:12px 20px;
  border-radius:30px;
}
.inline-form textarea{
  display:inline-block;
  border-color:#f48bcb; 
  outline:none;
  margin:8px 4px;
  font-size:14px;
  max-width:100%;
  padding:12px 20px;
  border-radius:30px;
}



input[type="email"]{
  width:250px;
}

input[type="text"]{
  width:250px;
}
input[type="text"]{
  width:250px;
}

input[type="submit"]{
 width:180px;
  cursor: pointer;
  background: #cb6ce6;
  color:#FFFFFF;
  text-align:center;
  font-weight:400;
}


input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active {
  background:#f48bcb;
}

@media (max-width: 728px) {
  .newsletter-box{
    padding:80px 20px;
  }
  input[type="text"],
  input[type="email"]{
    width:210px;
  }
  input[type="submit"]{
    width:250px;
  }
}


.button{
  width:180px !important;
  cursor: pointer;
  background: #f48bcb;
  display:inline-block;
  border:none;
  outline:none;
  font-size:14px;
  max-width:100%;
  padding:12px 20px;
  border-radius:30px;
  color:#FFFFFF;
  text-align:center;
  font-weight:400;
  flex-wrap: wrap;
}
.button:hover{
    background: #f48bcb;
}
.decoration{
  text-decoration: none;
  color: #ffffff;
}
.decoration:hover{
  text-decoration: none;
  color: #ffffff;
}

/**{
  box-sizing: border-box;
  outline: 1px solid rgba(255,0,0,.2);
}
*/

.formCenter{
  border-top: 5%;
  padding: 0 10% 15% 15%;
}
.notificacion{
  color: #FFFFFF;

}

.titulo-formulario{
  color: #737373;
padding-left: 15%;
  letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 25px;
}
/*
______________________Equipo_____________________*/

.tama単oFoto{
  width: 100px;
  height: auto;
    border:solid 2px;
  border-color:#f48bcb;
  border-radius: 50%;
}
.tama単oFotoGrande{
  width: 150px;
  height: auto;
  margin: 0% -1% 50% -10%;
  border:solid 2px;
  border-color:#f48bcb;
  border-radius: 50%;
}



/*_-----------------------------------*/


/*body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 110%);
}*/
h4, h2,small,a{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.Carousel{
    width: 100%;
    margin: 0px 60px;
}
.Carousel h2{
    /*font-size: 26px;*/
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .9;
    /*text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;*/
}

/* images */

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 60vw;
    overflow: hidden;
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}
.slick{
    position: relative;
    width: 275px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}
.slick h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #fff;
    padding: 15px;
}
.slick h4 small{
    font-size: 15px;
    display: block;
}
.slick a img{

    object-fit: cover;
  /*  height: 300px;*/
    width: 100%;
   /* border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);*/
    transition: .3s ease-in-out;
}
.slick a img:hover{
    opacity: .85;
}

/* buttons */

.slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
}
.slick-arrow:focus{
    outline: 0;
}
.slick-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,.7);
}
.slick-prev{
    left: 0px;
}
.slick-next{
    right: 0px;
}
section{
  margin-top: 3%;
  margin-bottom: 10%;
}

/*__________________________________*/
footer{
background: -webkit-linear-gradient(00deg, #ff5757 10%, #cb6ce6 90%);
background: -moz-linear-gradient(0deg, #0e1213 10%, #cb6ce6 90%);
background: -ms-linear-gradient(0deg, #ff5757 10%, #cb6ce6 50%);
background: -o-linear-gradient(00deg, #ff5757 10%, #cb6ce6 50%);
background: linear-gradient(0deg, #0e1213 10%,  #cb6ce6 90%);
  width: 100%;
  height: auto;
  padding-top: 3%;
  padding-bottom: 10%;
}




.svg-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
    margin: 0 auto;
  width: 320px;  
}
.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #cb6ce6;
  border-bottom: 2px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}




.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

/*
li{
  display: inline-block;
}*/




/*________________________________________*/
.text {

    font-size: 22px;
    line-height: 32px;
    /* letter-spacing: 8px; */
    color: #ffffff;
    top: -48px;
    text-align: center;
    position: relative;
}

.text2{
    font-size: 22px;
 
    /* letter-spacing: 8px; */
    color: #ffffff;
   

}
.margen{
  border: solid 1px  #cb6ce6;
  color: #FFFFFF;
  padding: 3%;
}



/*
_________________Equipo:::::::*/



.single-team{
  width: 100%;
  height: 350px;
 
  background: #FFF;
  position: relative;
 
  align-items: flex-end;
  transition: .6s ease-in-out:
  
  border-radius: .1875rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .1);
    margin: 0 0 30px;

     


}
.single-team:hover{
  transform: translateY(15px);

}
.single-team:hover:before{
  opacity: 1;

}
.single-team:hover .teamText{
  opacity: 1;
  transform: translateY(0);

}
.single-team:before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%
  height: auto;
background: linear-gradient(to top, #060C36 transparent);
z-index: 2;
transition: 0.5s;
opacity: 3;

}
.single-team img{
  width: 100%;
      border-radius: .1975rem;
  height: 100%;
  position: absolute;
  top: 50;
  left: 50;
  object-fit: cover;
   



}

.single-team .teamText{
padding-top: 55%;
   width: 100%;
   height:auto;
font-weight: 500;

  z-index: 3;
  color: #cb6ce6;
  opacity: 0;
  transform: translateY(60px);
  transition: 0.5s;
  overflow: hidden;
font-size: 14px;
   position: absolute;
    border-radius: .1975rem;
    top: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(34, 34, 34, .6);

}
.teamText{
  padding: 1% 5% 2% 10%;
  letter-spacing: 1.5px;
  line-height: 0.5;

}
.subtitulo{
  color: #abaeb0;
  padding: 1%;
}






.imagenMicochinito{

  background-image: linear-gradient(to right bottom, 
     rgba(6, 12, 54, 0.8),
     rgba(31, 5, 66, 0.42)), url('../images/banda.png');

  width: 100%;
  height: 600px;
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 0%;



}

.subtituloMicochinito{
  color: #FFF;
  font-size: 60px;
  padding-top: 5%;

}


.botonPagina{
 display: inline-block;
 border:solid 2px;
    border-color: #cb6ce6;
    outline: none;
/*    margin: 8px 4px;*/
    width: 250px;
    padding: 12px 20px;
    border-radius: 30px;
    margin-top: 5%;
}
.colorblanco{
  color: #FFF;
  letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
 text-align: center;
}

/*

________________footer_____________*/

.footerDirection{
  width: 100%;
  height:300px;
  background: #FFFFFF;
  border-radius: 5px;
  border-bottom: solid 5px #cb6ce6;
  margin: 5%;
}

.textcenter{
 padding-top: 15%;
color: #cb6ce6;
font-size: 30px;

}
.textoFooter{
    font-size: 12px;
  padding-top: 5%;
  letter-spacing: 1.5px;
  line-height: 1.0;

    padding-bottom: 15%;
    color: #adb5bd;
    padding-left: 10%;
    padding-right: 10%;

}
hr{
  border: 3px solid #cb6ce6 !important;
    border-width: 0.25rem;
    width: 3rem;
}
.subtituloFooter{
      color: #6c757d;
    padding-top: 5%;
    letter-spacing: 0.15rem;
}

.iconoTama単o{
  padding: 5%;
     font-size: 50px;
    color: #f8f9fa;
   
}
.grupo{
      margin: 2% 0% 0% 40%;
}
.space{
  padding: 3%;
}
.texto{
  color: #adb5bd;
}